html, body {
  height:100%;
  font-family: 'Titillium Web', sans-serif;
}

h1,h2,h3,h4,h5 {
  font-family: 'Titillium Web', sans-serif;
}

.btn-outline-danger {
  color: white;
  border-color: white;
}
.btn-outline-danger:hover {
  background-color: #c0382a;
  border-color: #c0382a;
}

.btn-outline-danger:not(:disabled):not(.disabled):active {
  background-color: #c0382a;
  border-color: white;
}

.header-text {
  background-color: black;
  color: white;
}

.icon{
  margin: 3rem;
  color: white;
}

.icon :hover {
  color: #c0382a;
}

h1 {
  text-transform: uppercase;
}

.row {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 600;
}

h4 {
  line-height: 1.5rem;
  font-weight: 600;
}

blockquote {
  font-weight: 700;
  font-style: italic;
}

.upcase {
  text-transform: uppercase;
}

.header {
  height: 100%;
  /*width: 100%;*/
  background-image: url("assets/background.jpg");
  background-position: center center;
  background-size: cover;
  padding-top: 25%;
}

.jumbotron {
  margin-bottom: 0;
  height: 100%;
}

.about {
  background-color: #EFEFEF;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 100%;
}

.quotes {
  background-color: #c0382a;
  color: white;
  padding-top: 10rem;
  padding-bottom: 10rem;
  height: 100%;
}

.latest-episode {
  background-image: url("assets/EP-background.jpg");
  background-size: cover;
  color: white;
  height: 30rem;
}

.photo-grid {
  width:100%;
  object-fit: cover;
}

.insta {
  width : 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.instafeed__item__background {
  width: 200px;
  height: 200px;
}

.theme-color {
  color: #c0382a;
}

.navbar {
  margin-bottom: 0px;
  padding: 10px;
}

.navbar-dark {
  background-color: #000000;
  border: none;
  border-radius: 0;
}

.navbar-default a {
  color: white;
}

.navbar-default a:hover {
  text-decoration: none;
  color: red;
}

.pagination li:hover {
  cursor: default;
}

.page-item.active .page-link {
  border-color: #c0382a;
  background-color: #c0382a;
}
